
$font-size-425:15px;
$font-size-title-425:40px;
$button-width-425:150px;
$button-border-radius-425:5px;
$border-width-425:2px;
$width-size-425:425px;

$button-width-768:200px;
$font-size-768:17px;
$font-size-title-768:50px;
$button-border-radius-768:8px;
$border-width-768:3px;
$width-size-768:768px;

$button-width-1024:300px;
$font-size-1024:18px;
$font-size-title-1024:70px;
$button-border-radius-1024:10px;
$border-width-1024:4px;
$width-size-1024:900px;

.containerMain_title
{
  font-size: $font-size-title-425;
}

body
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerMain
{
  background-color: rgb(38, 36, 36);
  width: $width-size-425;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

input
{
  border-width: $border-width-425;
  border-radius: $button-border-radius-425;
  border-color: transparent;
}

.containerMain_Email, .containerMain_Password
{
  width: $button-width-425;
}

input:hover, input:focus
{
  border-color: #A20000;
  outline: none;
}

header
{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f20606;
  font-weight: 600;
}

section
{
  // // border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
}

.containerMain_register, .containerMain_logIn
{
  // border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.containerMain_register, form, .containerMain_logIn p
{
  display: flex;
  align-items: center;
  flex-direction: column;
}



form
{
  display: flex;
  align-items: center;
  flex-direction: column;
}

form{
  font-size: $font-size-425;
  color: whitesmoke;
}

.containerMain_logIn
{
  color: white;
}




.containerMain_register > *, form > *
{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
}

input::placeholder
{
  font-size: $font-size-425;
}

.containerMain_Email, .containerMain_Password
{
  width: 180px;
}

.containerMain_register_policy
{
  color: antiquewhite;
  font-size: $font-size-425;
}

a{
  color: blue;
}

.containerMain_Forgotten
{
  color: antiquewhite;
}

.containerMain_register > button
{
  background-color: rgb(17, 16, 16);
  color: antiquewhite;
  border: 0.5px solid rgb(77, 78, 76);
  border-radius: 10px;
  height: 40px;
  width: 150px;
  font-size: $font-size-425;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.containerMain_ButtonLogIn
{
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(30, 30, 231);
  color: antiquewhite;
}

.containerMain_ButtonLogIn:hover
{
  border: none;
  background-color: rgb(6, 6, 188);
  color: rgb(252, 252, 252);
}

.containerMain_register > button:hover{
  background-color: antiquewhite;
}

@media (min-width:768px)
{
  .containerMain_register > button
  {
    width: $button-width-768;
    font-size: $font-size-768;
  }

  .containerMain_register_policy, form
  {
    font-size: $font-size-768;
  }

  .containerMain_title
  {
    font-size: $font-size-title-768;
  }

  input
  {
    border-width: $border-width-768;
    border-radius: $button-border-radius-768;
  }
  .containerMain_Email, .containerMain_Password
  {
    width: $button-width-768;
  }
  .containerMain
  {
    width: $width-size-768;
  }
}

@media (min-width:1024px)
{
  .containerMain_register > button
  {
    width: $button-width-1024;
    font-size: $font-size-1024;
  }

  .containerMain_register_policy, form
  {
    font-size: $font-size-1024;
  }


  .containerMain_title
  {
    font-size: $font-size-title-1024;
  }
  input
  {
    border-width: $border-width-1024;
    border-radius: $button-border-radius-1024;
  }
  .containerMain_Email, .containerMain_Password
  {
    width: $button-width-1024;
  }
  .containerMain
  {
    width: $width-size-1024;
  }
}