body, .pageContainer
{
  display: flex;
  justify-content: left;
  height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
}

.containerBackgroundImage
{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 40vw;
}

.containerMain
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 100vh;
  width: 60vw;
}


.containerMain_title
{
  color: red;
  width: 200px;
  height: 200px;
  border: 2px solid azure;
}

.containerMain_subContainer
{
  display: flex;
  justify-content: left;
}

.containerMain_register
{
  color:blue;
  width: 200px;
  height: 200px;
  border: 2px solid azure;
}

.containerMain_logIn
{
  color:blue;
  width: 200px;
  height: 200px;
  border: 2px solid azure;
}