body, .pageContainer
{
  display: flex;
  justify-content: left;
  height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
}

.containerBackgroundImage
{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 40vw;
}

.containerMain
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
  height: 100vh;
  width: 60vw;
}


.containerMain_title
{
  color: red;
  width: 60vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
  font-weight: bolder;
}

.containerMain_subContainer
{
  display: flex;
  justify-content: left;
}

.containerMain_register
{
  color:blue;
  width: 25vw;
  height: 250px;
  border-right: 0.1px solid rgba(240, 255, 255, 0.184);
}

.containerMain_logIn_upperbar
{
  border:none;
  margin-top: 0px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(240, 255, 255, 0.184);
  width: 80%; /* Ajusta el ancho de la línea al 80% del contenedor */
}

.containerMain_logIn_lowerbar
{
  border:none;
  margin-top: 15px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(240, 255, 255, 0.184);
  width: 100%; /* Ajusta el ancho de la línea al 80% del contenedor */
}

.containerMain_logIn
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  width: 25vw;
  height: 200px;
  
}

.containerMain_EmailLabel, .containerMain_EmailPassowrd, .containerMain_Forgotten
{
  margin: 10px;
}

.containerMain_Email, .containerMain_Password
{
  width: 23vw;
  height: 7vh;
  background-color: #181818;
  margin: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
}

.containerMain_Forgotten
{
  color: white;
  text-decoration: none;
}

.containerMain_Forgotten:hover
{
  text-decoration: underline;
}

.containerMain_Email:hover, .containerMain_Password:hover
{
  outline: 2px solid rgb(169, 7, 96);
}


.containerMain_ButtonLogIn
{
  background-color: rgb(0, 170, 255);
  height: 5vh;
  width: 9.5vw;
  border-radius: 10px;
  border: none;
}

.containerMain_ButtonLogIn:hover
{
  background-color: rgb(7, 115, 169);
}

.containerMain_register
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerMain_register_policy
{
  color: white;
}

.containerMain_ButtonGoogle
{
  margin: 20px;
}

.containerMain_ButtonGoogle, .containerMain_ButtonFacebook
{
  width: 23vw;
  height: 7vh;
  background-color: #181818;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMain_ButtonSingUp
{
  width: 23vw;
  height: 5vh;
  background-color: #262626;
  color: white;
  border: none;
  margin: 20px;
  border-radius: 2vh;

}

.containerMain_ButtonSingUp:hover
{
  background-color: #2f2f2f;
}

.containerMain_ButtonGoogle:hover, .containerMain_ButtonFacebook:hover
{
  background-color: white;
}

.containerMain_GoogleIcon, .containerMain_FacebookIcon
{
  margin-right: 10px;
}