body
{
  display: flex;
  justify-items: left;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.containerBackgroundImage
{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 40vw;
}

.containerMain
{
  background-color: #262626;
  height: 100vh;
  width: 60vw;
}